html {
    scroll-behavior: smooth;
  }
body{
    padding:0;
    margin:0;
    background:url(Home/background-home.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.navbar_home{
    display:flex;
    flex-wrap: wrap;
    background-color: #3c040c;
    padding:10px;
    justify-content: space-evenly;
}

.navbar_home a{
    text-decoration: none;
    color: white;
}
.navbar_home svg {
    fill: white;
    margin-top:3px;
}

.natie{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.DMC{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    height:500px;
    width:100%;
}
.DMC img{
    height:250px;
}

.Mandorlini{
    height:350px !important;
}

.newsBox{
    display:flex;
    background:url(Home/CFRvFCSBjpg.jpg);
    background-size:cover;
    width:1350px;
    height:450px;
    margin: 0 auto;
    margin-top:50px;
    gap: 150px;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
}

#selectNewsBox{
    display:flex;
    position:absolute;
    height:48.282%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:#3c040c;
    width:35px;
}
#selectNewsBox svg{
    transform: scale(1.5);
    fill:white;
    cursor:pointer;
    transition: fill 0.5s ease-in-out;
}

.newsBox img{
    transform: scale(0.5);
    transition: opacity 0.5s ease-in-out;
}
.icon_CFR{
    margin-left: 150px;   
}
#timer{
    transform:scale(3);
    margin-top: -825px;
    color:white;
}
.DivTimer{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}